
h1 {
    color: #000066;
    border-left: solid 7px #343F91;
    border-bottom: 2px solid #343F91;
    background-image: linear-gradient(#DDDDE6 0%, #FDFDFF 100%);
    padding: 10px 0 0 10px;
    margin: 0 0 8px 0;
}

p {
    margin-left: 1em;
}

pre {
    margin: 1em;
    padding: 1em;
    background-color: #F0F0FF;
}

.copyright {
    color: gray;
    text-align: center;
}